.signup-bgcolor{
    background-image: url('../src/Bg-photos/venti-views-cHRDevKFDBw-unsplash.jpg');
    background-size: cover;
} 

.login-bgcolor{
background-image: url('../src/Bg-photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg');
background-size: cover;

}

.homeBG{
background-image: url('../src/Bg-photos/brett-ritchie-1vKTnwLMdqs-unsplash.jpg');
background-size: cover;
}

  